extends ../admin-layout
mixin tableList(item)
	tr
		td.v-align-middle
			span.block-title.text-master.padding-5
				if item.heroImg
					i.fa.fa-star.text-warning.m-r-5
					| #{item.title}

		td.v-align-middle
			.hover-push.bg-transparent.pointer.text-center(data-target='#picPreview', data-toggle='modal', data-pic-title=item.title, data-pic-url=item.picURL.url)
				img(src=item.picURL.url, height='65')
				.hover-caption.bottom-left
					

		td.v-align-middle
			span #{moment(item.addDate).format('MM-DD-YYYY')}
		td.v-align-middle
			span= item.onPublic
		//- td.v-align-middle
		//- 	span= item.description.camera
		//- td.v-align-middle
		//- 	span= item.description.focal_length
		//- td.v-align-middle
		//- 	span= item.description.aperture
		//- td.v-align-middle
		//- 	span= item.description.exposure_time
		//- td.v-align-middle
		//- 	span= item.description.iso
		td.v-align-middle
			span= item.album.title
		td.v-align-middle
			span= item.album.catalog
		td.v-align-middle
			a(href='/admin/upload/edit/' + item.id).btn.btn-primary.btn-sm
				i.fa.fa-edit
		td.v-align-middle
			a(href='/admin/upload/del/' + item.id).btn.btn-danger.btn-sm
				i.pg-trash

block content
	//- MODAL STICK UP
	#addNewAppModal.modal.fade.stick-up(tabindex='-1', role='dialog', aria-labelledby='addNewAppModal', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header.clearfix
					button.close(type='button', data-dismiss='modal', aria-hidden='true')
						i.pg-close.fs-14
					h4.p-b-5
						span.semi-bold New
						|  Photo
				form(role='form', enctype='multipart/form-data', autocomplete='off', method='post')
					.modal-body
						p.small-text Create a new Photo using this form, make sure you fill them all
						.row
							.col-sm-12
								.form-group.form-group-default
									label(for='title') title
									input#title.form-control(type='text', placeholder='Name of your title', name='title', , required='required')
						p.small-text Description
						.row
							.col-sm-6
								.form-group.form-group-default
									label(for='brief') Brief
									input#brief.form-control(type='text', placeholder='Tell us more about it', name='brief', required='required')
								
								.form-group.form-group-default
									label(for='camera') Camera
									input#camera.form-control(type='text', placeholder='eq: Canon PowerShot S95', name='camera')
								
								.form-group.form-group-default
									label(for='focal_length') Focal_length
									input#focal_length.form-control(type='text', placeholder='eq: 22.5mm', name='focal_length')
							.col-sm-6
								.form-group.form-group-default
									label(for='aperture') Aperture
									input#aperture.form-control(type='text', placeholder='eq: ƒ/5.6', name='aperture')
								
								.form-group.form-group-default
									label(for='exposure_time') Exposure_time
									input#exposure_time.form-control(type='text', placeholder='eq: 1/1000', name='exposure_time')
								
								.form-group.form-group-default
									label(for='iso') Iso
									input#iso.form-control(type='text', placeholder='eq: 80', name='iso')
						p.small-text Upload Zone
						.row
							.col-sm-12
								.form-group.form-group-default
									label(for='picURL') Upload Image
									input#picURL.form_controls(type='file', placeholder='image(<1MB)', name='picURL')
									input#picURL_cache(name='image_cache', type='hidden')
						.row
							.col-sm-4
								.form-group.form-group-default
									label(for='album') Choose Album
									select#album.cs-select.cs-skin-slide(data-init-plugin='cs-select', name='album')
										if chooseAlbum.length
											each item in chooseAlbum
												option(value=item)= item.title
							.col-sm-4
								.form-group.form-group-default
									.checkbox.check-primary.checkbox-circle
										input#heroImg(type='checkbox', name='heroImg')
										label(for='heroImg') Hero Image	
							.col-sm-4
								.form-group.form-group-default
									.checkbox.check-primary.checkbox-circle
										input#onPublic(type='checkbox', checked='checked', name='onPublic')
										label(for='onPublic') On Public
					.modal-footer
						button#add.btn.btn-primary.btn-cons(type='submit') Add
						button.btn.btn-cons(type='button', data-dismiss='modal') Close
			//- /.modal-content
		//- /.modal-dialog
	//- Modal
	#picPreview.modal.fade.fill-in(tabindex='-1', role='dialog', aria-hidden='true')
		button.close(type='button', data-dismiss='modal', aria-hidden='true')
			i.pg-close
		.modal-dialog.full-width.jumbotron.full-height
			.modal-content.col-xs-offset-1.col-xs-10
				.modal-header
					h5.text-left.p-b-5
						| Photo Name: 
						span.semi-bold.title
				.modal-body
					.row
						img.background.col-xs-12.full-height(data-bg-overlay='black', data-overlay-opacity='0.4' draggable='false')
			//- /.modal-content
		//- /.modal-dialog
	//- Modal
	section.p-t-30.bg-master-lightest
		.container
			h6.block-title.m-b-30
				| Photos Management
			//- START PAGE CONTENT
			.content
				//- START CONTAINER FLUID
				.container-fluid.container-fixed-lg
					//- START card
					.panel.panel-transparent
						.panel-header
							.row
								button#show-modal.btn.btn-primary.btn-cons
									i.fa.fa-plus.m-r-5
									|  Add
							.clearfix
					//- END card
				//- END CONTAINER FLUID

	section.p-b-65.p-t-15.bg-master-lightest
		.container
			.content
				//- START CONTAINER FLUID
				.container-fluid.container-fixed-lg.bg-white
					//- START PANEL
					.panel.panel-transparent
						.panel-heading
							.panel-title
								| Table
							.pull-right
								.col-xs-12
									.row
										input.search-table.form-control.pull-right(type='text', placeholder='Search')
							.clearfix
						.panel-body
							.table-responsive
								table#postList.table.table-hover.demo-table-search.table-responsive-block
									if context.length
										thead
											tr
												th title
												th Images
												th Date
												th On Public
												//- th Camera
												//- th Focal length
												//- th Aperture
												//- th Exposure time
												//- th Iso
												th Album
												th Catalog
												th Edit
												th Delete
										tbody
											each item in context
												+tableList(item)
									else
										tr
											td.v-align-middle.semi-bold(colspan='8')
												p.m-b-0 No record(s).
					//- END PANEL

	//- section.p-b-30.p-t-40.bg-master-lighter
	//- 	.container
	//- 		.content
	//- 			.container-fluid.container-fixed-lg.bg-white
	//- 				//- START PANEL
	//- 				.panel.panel-transparent.m-b-0
	//- 					.panel-heading
	//- 						.panel-title
	//- 							| Recently Uploaded
	//- 						.pull-right
	//- 							.fa
	//- 						.clearfix
	//- 					.panel-body
	//- 						.row
	//- 							.col-sm-3
	//- 								.hover-push
	//- 									ul.top-right.list-unstyled.list-inline.padding-5
	//- 										li
	//- 											a(href='#').text-primary
	//- 												i.fa.fa-edit
	//- 										li
	//- 											a(href='#').text-danger
	//- 												i.fa.fa-trash
	//- 									img.lazy.full-width(alt='Quote', src='/front/assets/images/ys-home-2.jpg')
	//- 									.hover-caption.bottom-left.bottom-right.p-l-15.p-r-15
	//- 										a(href='javascript:;').font-montserrat.fs-12.hint-text.text-white.all-caps title
	//- 										h6.text-white add date
	//- 							.col-sm-3
	//- 								.hover-push
	//- 									ul.top-right.list-unstyled.list-inline.padding-5
	//- 										li
	//- 											a(href='#').text-primary
	//- 												i.fa.fa-edit
	//- 										li
	//- 											a(href='#').text-danger
	//- 												i.fa.fa-trash
	//- 									img.lazy.full-width(alt='Quote', src='/front/assets/images/ys-home-2.jpg')
	//- 									.hover-caption.bottom-left.bottom-right.p-l-15.p-r-15
	//- 										a(href='javascript:;').font-montserrat.fs-12.hint-text.text-white.all-caps title
	//- 										h6.text-white add date
	//- 							.col-sm-3
	//- 								.hover-push
	//- 									ul.top-right.list-unstyled.list-inline.padding-5
	//- 										li
	//- 											a(href='#').text-primary
	//- 												i.fa.fa-edit
	//- 										li
	//- 											a(href='#').text-danger
	//- 												i.fa.fa-trash
	//- 									img.lazy.full-width(alt='Quote', src='/front/assets/images/ys-home-2.jpg')
	//- 									.hover-caption.bottom-left.bottom-right.p-l-15.p-r-15
	//- 										a(href='javascript:;').font-montserrat.fs-12.hint-text.text-white.all-caps title
	//- 										h6.text-white add date

block scripts
	script(type='text/javascript', src='/front/assets/js/table.js')
